.color-primary{
    color:$color-primary
}

.color-primary-bg{
    background-color:$color-primary
}


.color-secundary{
    color: $color-secundary;
}


.color-secundary-bg{
    background-color: $color-secundary;
}

.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    background-color: $color-yellow;
}
